/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{display:none;position:absolute;}

ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}

ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
ol.bjqs-markers li{float:left;}

p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* demo styles */

#banner {
  height:500px;
  width:750px;
  margin:0 auto;
  position:relative;
}

 ul.bjqs-controls li a{
  display:block;
  padding:5px 10px;
  position:absolute;
  color:#fd0100;
  text-decoration:none;
  text-transform:uppercase;
  font-family:ALLER_BDIT;
}

a.bjqs-prev{
  left:0;
}

a.bjqs-next{
  right:0;
}

 p.bjqs-caption{
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
}

 ol.bjqs-markers{
  position:absolute;
  bottom:-50px;
}

 ol.bjqs-markers li{
  float:left;
  margin:0 3px;
  font-family:ALLER_BDIT;
  color:#fff;
}

 ol.bjqs-markers li a{
  display:block;
  height:30px;
  width:30px;
  overflow:hidden;
  text-align:center;
  text-decoration:none;
  vertical-align:middle;
  padding-top:4px;
  background:#000;
  color:#fff;
/*text-indent:-9999px; */
}

ol.bjqs-markers li.active-marker a{
  background:#EF3A47;
}
