/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
	height:100%;
}

body {
    font: 100%/1.618 sans-serif;
    line-height: 1.4;
	background: #fff url('../img/bg-main_pattern_lines.png') repeat;
	height:100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
font-family:ALLER_BDIT;
src:local("Aller Bold Italic"),
url('aller.ttf')  format('truetype');
}

#wrap {
	height:100%;
}
   
#content {
	background: url('../img/bg-main_pattern.png');
	min-height: 100%;
}

#mainContent {
	padding:60px 0 60px 390px;
	width:800px;
}

#sidebar {
	background: url('../img/bg-menu_pattern.png') repeat-y top right;
	width:142px;
	min-height:100%;
	padding:0 0 0 200px;
	
	font-family:ALLER_BDIT;
	font-size:18px;
	text-transform: uppercase;
	
}

#sidebarWrap {
	background: url('../img/bg-menu_noise.png');
	width:342px;
	height:100%;
	min-height:100%;
	
	float:left;
	position:fixed;
	top:0;
	left:0
}

.sidebarSep {
	background: url("../img/hrLine.png") repeat scroll 0 0 transparent;
    border:none;
	border-bottom:1px solid #c0c0c0;
    height: 3px;
    width: 132px;
	margin:16px 0 0 0;
}

#navigation {
}

#sidebar ul {
	margin:10px 12px 14px;
	padding:0;
	text-align:right;
}

#sidebar ul li {
	margin:0 0 2px 0;
	padding:0px;
	list-style:none;
}

#sidebar ul li a {
	text-decoration:none;
	color:#000;
	display:inline-block;
}

#sidebar ul li a:hover {
	background:#255a75;
	color:#fff;
}

#social {
	text-align:right;
	padding:0 10px 0 0;
}

#logo {
	padding: 60px 0 23px 0;
}

body.home #sidebar ul li.home a,
body.workshops #sidebar ul li.workshops a,
body.competitions #sidebar ul li.competitions a,
body.shows #sidebar ul li.shows a,
body.online #sidebar ul li.online a,
body.schedule #sidebar ul li.schedule a,
body.registration #sidebar ul li.registration a,
body.pastevents #sidebar ul li.pastevents a,
body.sponsors #sidebar ul li.sponsors a,
body.about #sidebar ul li.about a,
body.contact #sidebar ul li.contact a
{
	background:#255a75;
	color:#fff;
	/* padding:0 10px 0 10px; */
}

#mainContent {
	font-family:Helvetica, Arial, sans-serif;
	/* text-align:justify; */
	/* font-size:13px; */
	/* line-height:18px; */
}

#mainContent h1 {
	border-bottom:4px solid #ef3a47;	
}

#mainContent h1,
#mainContent h2 {
	font-family:ALLER_BDIT;
	font-size:36px;
	color:#ef3a47;
	margin-bottom:10px;
}

body.workshops #mainContent h1,
body.workshops #mainContent h2,
body.sponsors #mainContent h1,
body.sponsors #mainContent h2,
body.schedule #mainContent h1,
body.schedule #mainContent h2, 
body.shows #mainContent h1,
body.shows #mainContent h2,
body.online #mainContent h1,
body.online #mainContent h2,
body.competitions #mainContent h1 {
	color:#000;
}
body.shows #mainContent h3,
body.online #mainContent h3{
	color:#096988
}
body.schedule #mainContent h3 {
	color:#ffde59;
	font-size:22px;
	margin-top:42px;
}

body.pastevents #mainContent h2 {
	color:#000;
}

body.pastevents #mainContent h3 {
	color:#096988;
	font-size:22px;
}

body.competitions #mainContent h2 {
	color:#096988;
	font-size:24px;
}


#mainContent h3 {
	font-family:ALLER_BDIT;
	font-size:24px;
	margin-bottom:10px;
}

#mainContent p {
	margin-top:4px;
}

small a,
.linkSpecial {
	font-family:ALLER_BDIT;
	background:#255a75;
	color:#fff !important;
	text-decoration:none;
	padding:6px;
	margin:0;
	display:inline-block;
}

small a:hover,
.linkSpecial:hover {
	border-bottom:4px solid #333;
}

.dropshadow {
 -moz-box-shadow: 1px 0 2px #333; /* Firefox */
 -webkit-box-shadow: 1px 0 2px #333; /* Safari/Chrome */
 box-shadow: 1px 0 2px #333; /* Opera and other CSS3 supporting browsers */
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#333333')";/* IE 8 */
 : progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#333333');/* IE 5.5 - 7 */ 
}

#info {
	width: 800px;
}

#info #address p {
	margin-top:0;
}

#infoMailerForm {
	color:#255a75;
	width:358px;
	float:left;
}

#infoMailerForm label {
	width:80px;
	display:inline-block;
	vertical-align:middle;
	padding-top:10px;
}

#infoMailerForm input[type=text]  {
	width:276px;
	border:none;
	background:transparent;
	vertical-align:middle;
	font-style:italic;
	font-weight:bold;
}

#infoMailerForm input[type=text]#recaptcha_response_field {
	background: #FFF;
	border:2px dotted #878E92;
}

#infoMailerForm textarea {
	width:355px;
	height:115px;
	border:2px dotted #878e92;
}

#infoMailerForm .formitem {
	padding-bottom:4px;
	border-bottom:2px dotted #878e92;
	width:360px;
}

#infoMailerForm input[type=submit] {
	width:90px;
	height:26px;
	color:#fff;
	background-color:#255a75;
	font-family:ALLER_BDIT;
	border:none;
}

#infoMailerForm input[type=submit]:hover {
	border-bottom:4px solid #333;
}

#btnSend {
	text-align:right;
	padding-top:10px
}

#address {
	color: #255A75;
    float: right;
    font-family: ALLER_BDIT;
    font-size: 18px;
    padding: 15px 0 0 0;
    width: 352px;
}

#address a {
	text-decoration:none;
	color:#255a75;
}

#captcha {
	margin-top:10px;
}

#map {
	border:4px solid #fff;
}

.msgError {
    font-family: ALLER_BDIT;
    font-size: 16px;
	color:#fff;
	background-color:#cf33ff;
	border:4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:10px;
}

/*

*/

.imgset {
	padding-bottom:12px;
}

/*
compos
*/

body.competitions #mainContent h1 {
	border:none;
	font-size:42px;
}

body.competitions #mainContent  h3 {
	font-family: ALLER_BDIT;
	color:#e4055e;
	font-size:36px;
	margin-bottom:0;
}

body.competitions #mainContent .event .meta {
	font-family: ALLER_BDIT;
	color:#fff;
	font-size:22px;
}

body.competitions #mainContent .event .meta_2 {
	font-family: ALLER_BDIT;
	color:#000;
	font-size:18px;
	margin-bottom:12px;
}

/*
shows
*/

body.online #mainContent .show,
body.shows #mainContent .show {
	padding-bottom:12px;
	border-bottom:1px dashed #fff;
}
body.online #mainContent .show .meta,
body.shows #mainContent .show .meta {
	font-family: ALLER_BDIT;
	color:#feef04;
	font-size:22px;
}

body.online #mainContent .show .info,
body.shows #mainContent .show .info {
	font-family: ALLER_BDIT;
	color:#255a75;
	font-size:24px;
	text-align:right;
}

body.online #mainContent .show .info a,
body.online #mainContent .show .info a:visited,
body.online #mainContent .show .info a:link,
body.shows #mainContent .show .info a,
body.shows #mainContent .show .info a:visited,
body.shows #mainContent .show .info a:link {
	color:#255a75;
	text-decoration:none;
}

body.online #mainContent .show .info a:hover,
body.shows #mainContent .show .info a:hover {
	color:#fff;
}

/*
event item
*/
#mainContent .event {
	padding-bottom:12px;
	border-bottom:1px dashed #fff;
}

/*
workshops
*/
#mainContent .workshopItem {
	padding-bottom:12px;
	border-bottom:1px dashed #feef04;
}

#mainContent .workshopItem .title {
    font-family: ALLER_BDIT;
    font-size: 36px;
	color:#9e0daf;
	margin-bottom:2px;
}

#mainContent .workshopItem .datetime {
    font-family: ALLER_BDIT;
    font-size: 22px;
	color:#feef04;
}

#mainContent .workshopItem .info {
    font-family: ALLER_BDIT;
    font-size: 18px;
	color:#000;
	margin-bottom:12px;
}

#mainContent .workshopItem .registerLink {
}


/*
sponsors
*/
#mainContent .sponsoritem {
	padding-bottom:12px;
	border-bottom:1px dashed #feef04;
}

#mainContent .sponsoritem .title {
    font-family: ALLER_BDIT;
    font-size: 36px;
	color:#9e0daf;
	margin-bottom:2px;
}

#mainContent .sponsoritem .item {
    font-family: ALLER_BDIT;
    font-size: 18px;
	color:#000;
	margin-bottom:12px;
}

/*
Page specific background color selectors
*/
body.home,
body.register {
	background-color:#f4af09;
}

body.contact,
body.about {
	background-color:#f2e2bb;
	color:#255a75;
}

body.schedule {
	background-color:#9933cc;
}

body.online,
body.workshops,
body.sponsors,
body.shows {
	background-color:#05cdc4;
}

body.pastevents,
body.competitions {
	background-color:#f3b701;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
